<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adapted_Slotted_ALOHA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Adapted_Slotted_ALOHA.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Adapted_Slotted_ALOHA.Properties.Settings>
            <setting name="NumberOfStations" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumberOfColums" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WidthOfColums" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="IsManualModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFramesNumbersTextEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Adapted_Slotted_ALOHA.Properties.Settings>
    </userSettings>
</configuration>